
# mjpeg_webserver configuration file
# For info on how to configure, please read:
#
# https://www.mikekohn.net/software/mjpeg_webserver.php
# Email: mike@mikekohn.net

#filename /sdcard/videos/video_0.avi
#filename /sdcard/videos/video_1.avi
filename /sdcard/videos/video_2.avi

# WiFi stuff specific to ESP32.

#wifi_is_ap 1
#wifi_ap camera
#wifi_password camera

wifi_is_ap 0
wifi_ap someap
wifi_password password

# Video4Linux capture devices (does not compile in by default)
# The format is:
# CAPTURE videodevicenum,width,height,max_fps,channel,format(NTSC/PAL)
# channel and format are optional.. cheap usb webcams shouldn't need this

capture /dev/video0
{
  size 640x480
  max_fps 5
}

#capture /dev/video1
#{
#  size 352x240
#  max_fps 5
#  channel 1       # bttv can have 4 devices hooked up to the same chip
#  format ntsc
#}

# If you want to serve out html, jpeg, gif, or png files, set this
# to the directory that has these files.

htdocs_dir /sdcard/htdocs
#htdocs_dir /var/www/htdocs
#htdocs_dir c:/mjpeg_webserver/htdocs

# Which file to default to if the user doesn't pick a file.

index_file index.html

# Set this to the maxiumum number of people you want to allow
# in the chat.

minconn 10
maxconn 50

# Set this to the maximum time (in seconds) connections are allowed
# to have no activity on the server.  If set to 0 this feature is
# disabled.  NOTE: Idle time is ONLY checked during the garbage
# collection period on (which defaults to 30 seconds).
# This means that altho your max idle time is set to 60 seconds,
# the actual time the user is kicked off could take an extra 30
# seconds.  This is done to save CPU cycles.

max_idle_time 30

# Set to port number where to run the server.

port 8080

# Uncomment these lines to force a username/password

#username mike
#password pencil

# If you run the server as root, it's a good idea to change the
# user and group to nobody for security reasons.
# The format is runas user:group.  If you leave out group, it
# will default to the group of the user you chose.

runas nobody:nobody

# Frame rate of server push (frames per second)

frame_rate 30

# Define aliases. These URLs are mapped to videos.

alias /axis-cgi/mjpg/video.cgi
{
  port camera
  type stream
  frame_rate fps
}

alias /axis-cgi/jpg/image.cgi
{
  port camera     # default to http://yourhost/0 unless ?camera=
  type single
}

alias /oneshotimage.jpg
{
  port 0          # same as http://yourhost/0
  type single
}

# Define cgi handlers

cgi_handler cgi;

cgi_handler php
{
  application /usr/bin/php-cgi
}

# Define plugins
# the actual url's filename can be anything you want just like an alias

plugin /test.plg
{
  library test_plugin.so
}

